footer.footer.container
    .footer__body
        div.menu__logo.menu__logo-footer
            img(src="../img/header/logo.png", alt="Лого")
        nav.menu__nav-footer
            ul.menu__item-footer
                li.menu__link-footer
                    a(href="catalog-coffee.html").link-menu Каталог товаров
                li.menu__link-footer
                    a(href="blog.html").link-menu Блог
                li.menu__link
                    a(href="contact.html").link-menu Контакты